
.rodape{
    height: 40vh;
    width: 100%;
    background-color:black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.box{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80vw;    
    justify-content: space-between;
}

.miniboxrodape{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 18px;
    color: white;
    width: 40vw;
}

.copyright{
    font-size: 18px;
    color:white;
}