*{
    border: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: personal;

}

.inicio {
    height: 80vh;
    background-position: center;
    display: flex;
    flex-direction: column;
   
}

@font-face{
    font-family: chicken;
    src: url(./fontes/Chicken\ Quiche.otf);
}

.menu {
    height: 15vh;
    width: 100%;
    background-color:SkyBlue;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.subcontainer{
    width: 90vw;
    height: 25vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    color: black;
}

.lista{
    width: 25vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 21px;
}

.sep{
    width: 2px;
    height: 20px;
    background-color: black;
}

.subbox{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 40vh;
    width: 40vh;
}

.box4{
    color: #000000;
    font-size: 45px;
    text-align: center;
    font-family:chicken;
}

.box5{
    display: flex;
    flex-direction: row;
    width: 85vw;
    justify-content: space-around;
}

.container3{
    display: flex;
    background-color:powderblue;
    height: 80vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

.minibox{
    width: 5vw;
    margin: 2px;
    text-align: center;
}

.minibox2{
    text-align: center;
    width: 5vw;
    margin: 2px;

}

.rodape{
    padding: 1vh;
    height: 30vh;
    background-color:black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.minicontainer5{
    width: 65vw;
    height: 20vh;
    display: flex;
    flex-direction: column;
}

.box8{
    height: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-size: 18px;
    color:white;
    width: 65vw;
}

.box8 p{
    margin-right: 15px;
}

.box9{
    display: flex;
    flex-direction: row;
    align-items: row;
    flex-grow: 1;
    justify-content: space-between;
}

.minibox{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-size: 18px;
    color: white;
}

.minibox p{
    margin-left: 35px;
}

.minibox10{
    font-size: 18px;
    color:white;
    margin-right: 15px;
}

.A button{

    background-color: white;
    font-size: 15px;
    padding: 5px;
    border:2px solid black;
    border-radius: 15px;
    width: 5vw;
    height: 5vh;
}